.main_menu>li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.main_menu>li:hover .sub_menu {
    display: block;
    background-color: #6fa5c0;
}

.sub_menu>li {
    list-style: none;
    width: 200px;
}

.sub_menu_item>a {
    padding: 10px;
    display: block;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.main_menu_item>a {
    padding: 10px;
    display: block;
    text-align: left;
    color: #fff;
    text-decoration: none;
    background-color: #5389a5;
}

.main_menu_item:hover a {
    background-color: #6fa5c0;
}

.main_menu .sub_menu {
    padding: 0;
    display: none;
    position: absolute;
}